$header-bg-color: rgb(255, 255, 219);
$row-bg-color: rgb(255, 164, 164);
$column-bg-color: rgb(176, 191, 255);
$link-bg-color: rgba(173, 218, 218, 0.527);
$footer-bg-color: #ad60ce;
$h1-bg-color: rgb(77, 67, 226)