#navbar {
    position: relative;
    width: 100%;
    background-color: $link-bg-color;
    padding-top: 15px;
    height: 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.navlist {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

@for $link-bg-color from 1 through 5 {
    nav li:nth-child( #{$link-bg-color}) {
        background: darken(rgb(195, 246, 255), $link-bg-color * 12%);
        }
    }

